.auth{
  display: flex;
  justify-content: center;
}
.loggedIn{
  margin-top: 100px;
  background-color: hsla(179, 91%, 22%, 0.418);
  color: white;
  width: 300px;
  padding: 20px 5px;

}
.loggedIn button{
  background-color: hsla(179, 78%, 15%, 0.773);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 1.24rem;
  padding: 10px 15px;
  border: 1px black solid;
  cursor: pointer;
}
.loggedIn button:hover{
  transform: rotate(-2deg);
}

.switch-button{
  margin-top: 25px;
  border: none;
  padding: 10px 15px;
  border-radius: 1.25rem;
  border: 2px solid hsla(0, 0%, 100%, 0);
}
.switch-button:hover{
  
  border: 2px solid hsl(0, 0%, 0%);
}