textarea{
  width: 300px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.create-container{
 width: 100%;
 display: flex;
 justify-content: center;
}

.delete-comment{
  border: 2px black solid;
  margin-bottom: 7px;
  padding:7px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
.data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.time{
  font-size: .7rem;
}

.button-delete{
  background-color: #da8686;
  font-weight: 600;
  border: none;
  border-radius: 1.2rem;
  width: 100px;
  height: 25px;
}
.button-delete:hover{
  background-color: #d66363;
}