
.main-container{
  margin-top:10px;
  display: grid;
  grid-auto-rows: minmax(300px, auto);
  gap:10px

}
.post-container{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  max-width: 400px;
  padding: 10px 5px;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}