
.main-container{
  margin-top:10px;
  display: grid;
  gap:10px;
  width: min(90%, 1800px);
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
}
.post-container{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.post-thing{
  height: 10rem;
  max-width: 20rem;

}
.green{
  background-color: #34d399;
}
.red{
  background-color: #f87171;
}
.post-blog{
  height: 18px;
  width: 250px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
.title{
  width: 250px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}


