.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.links{
  display: flex;
  justify-content: center;
  gap:20px

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
